/*assignment of variables*/
:root {
    --minimalHeight: 10em;
    --akzentrahmen: solid
  }

/*normal body*/

body {
    display: flex;

    gap: 0em;  /* Abstand zwischen den Elementen */
    margin: 1em auto;
    border: 0em solid black;

    justify-content: center; /* Optional: um das Bild horizontal auszurichten */
    align-items: center;

    max-width: 1080px;
}

/*style of the header part*/

header {
    display: flex;

    align-items: center;

    background-color: rgb(129, 171, 202); 
}

header img {
    width: 9em;
    height: auto;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.header-text {
    margin-left: 3em;
}

.flex-container {
position: relative;

    background-image: url("../source/StaionHintergrund.jpg");
    opacity: 1; /* Verblassen des Bildes auf 50% */

    display: flex;

    height: 100%;
    width: 100%;
    
    min-height: 50em;

    flex-direction: column;
}

.parent {
    display: flex; 
  }

.flex-item-text {
    flex-grow: 1;
    flex-basis: 100%;

    text-align: center;

    color: rgb(255, 255, 255);
}
  
.flex-item {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;

    text-align: center;

    line-height: 1.5;
  }

  .flex-item p {
    color: rgb(255, 255, 255);
    background-color: rgba(26, 26, 26, 0.4); /* Hintergrundfarbe mit Transparenz (50%) */
  }

/*footer take the full grid width on the page*/
footer {
	grid-column: 1 / 4;
    grid-row: 4 / 5; 
}