/*assignment of variables*/
:root {
    --minimalHeight: 10em;
    --akzentrahmen: solid
  }

/*normal body*/

body {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 2fr 2fr;; /* 3 Spalten */
    grid-template-rows: repeat(4, 1fr); /* 3 Zeilen */
    gap: 0.5em;  /* Abstand zwischen den Elementen */
    margin: 1em auto;
    border: 0.1em solid black;

    justify-content: center; /* Optional: um das Bild horizontal auszurichten */
    align-items: center;
}

/*special action for the body on displays with more than 30em width*/

@media (min-width: 480px){ 
    /* mehrspaltiges Layout für breitere Bildschirme */ 
    body {
    /*width: 50em; /*besser als Pixel festzulegen*/
    margin: 1 auto;
    border: 0.1em solid black;
    max-width: 60em;
    grid-template-columns: 1fr 3fr;
	grid-template-rows: auto 1fr 100px;
    }
  }



/*style of the header part*/

header {
    align-items: center;
    /*justify-content: space-between;*/
    
	display: grid;
	/*grid-template-columns: 1fr 1fr;*/

    grid-column: 1 / 4; /* ganze Spalte */
    grid-row: 1 / 2; /* Erste Zeile */

    border-bottom: 1px solid black; /* Trennstrich */
    padding-bottom: 10px; /* optionaler Abstand zum Trennstrich */
}

header img {
    width: 9em;
    height: auto;
    margin-top: 0.5em;
}

header p {
    margin-right: 3em;
    text-align: right;
}

 /* Rectangle*/

.box {
    display: grid;

    min-height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 14em;

    text-align: center;

    background: #D9D9D9;
    mix-blend-mode: hard-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.text1 {
    min-height: var(--minimalHeight);

    display: grid;

    grid-column: 1 / 4; 
    grid-row: 2 / 3; 

    min-height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 50em;
}

.div1,
.div2,
.div3 {
    box-sizing: border-box;

    background-color: lightblue;
    height: 100%;
    width: 100%;

    min-height: 2em;

    justify-content: start;
}

.div1 {
    display: grid;

    grid-column: 1 / 2; 
    grid-row: 3 / 4; 

    min-height: 2em;
    margin-left: auto;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.div1 input[type="text"] {
    margin-top: 1em;
}

.div1 input[type="button"] {
    margin-top: 1em;
}

.div2 {
    display: grid;

    grid-column: 2 / 3; 
    grid-row: 3 / 4; 
}

.div3 {
    display: grid;

    grid-column: 3 / 4; 
    grid-row: 3 / 4; 
}

/*footer take the full grid width on the page*/
footer {
	grid-column: 1 / 4;
    grid-row: 4 / 5; 
}