.Hintergrund_Groesse {
    background-color: rgb(255, 255, 255);
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.Main_Hintergrund {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/main_hintergrund.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Suedtribuene {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 30%;
    top: 0px;
    background-image: url(images/middle_hintergrund.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.Header_Gelb {
    background-color: rgb(253.0000001192093, 225.00000178813934, 0);
    width: 100%;
    height: 10vh;
    position: absolute;
    left: 0px;
    top: 12vh;
}

.H1_Borussia_Dortmund {
    color: rgb(0, 0, 0);
    width: 90%;
    height: 12vh;
    position: absolute;
    left: 5%;
    top: 9%;
    transform: translateY(-5%);
    font-family: Inter;
    text-align: left;
    font-size: 6vh;
    letter-spacing: 0;
}

.e1_5 {
    background-color: rgba(253.0000001192093, 225.00000178813934, 0, 0.75);
    width: 20%;
    height: 45vh;
    position: absolute;
    left: 2%;
    top: 30vh;
}

.e2_9 {
    background-color: rgba(0, 0, 0, 1);
    width: 28%;
    height: 25vh;
    position: absolute;
    left: 45%;
    top: 30vh;
}

.e2_10 {
    background-color: rgba(253.0000001192093, 225.00000178813934, 0, 1);
    width: 25%;
    height: 6vh;
    position: absolute;
    left: 47%;
    top: 33vh;
}

.e2_11 {
    background-color: rgba(255, 255, 255, 1);
    width: 25%;
    height: 14vh;
    position: absolute;
    left: 47%;
    top: 38vh;
}

.Tabellenplatz {
    color: rgba(0, 0, 0, 1);
    width: 15%;
    height: 6vh;
    position: absolute;
    left: 52%;
    top: 30vh;
    font-family: Inter;
    text-align: left;
    font-size: 4vh;
    letter-spacing: 0;
}

.e2_13 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 28%;
    height: 35vh;
    position: absolute;
    left: 45%;
    top: 58vh;
}

.StadionBild {
    width: 25%;
    height: 25vh;
    position: absolute;
    left: 47%;
    top: 65vh;
    background-image: url(images/stadion_bild.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e3_15 {
    background-color: rgba(253.0000001192093, 225.00000178813934, 0, 0.75);
    width: 18%;
    height: 8vh;
    position: absolute;
    left: 2%;
    top: 48vh;
}

.Speisen {
    color: rgba(0, 0, 0, 1);
    width: 18%;
    height: 8vh;
    position: absolute;
    left: 2%;
    top: 48vh;
    font-family: Inter;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 0;
}

.Getränke_Hintergrund {
    background-color: rgba(253.0000001192093, 225.00000178813934, 0, 0.75);
    width: 18%;
    height: 8vh;
    position: absolute;
    left: 2%;
    top: 40vh;
}

.Getränke {
    color: rgba(0, 0, 0, 1);
    width: 18%;
    height: 8vh;
    position: absolute;
    left: 2%;
    top: 40vh;
    font-family: Inter;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 0;
}

.Preise_Box {
    width: 18%;
    height: 10vh;
    position: absolute;
    left: 2%;
    top: 30vh;
}

.Preise_Hintergrund {
    background-color: rgba(253.0000001192093, 225.00000178813934, 0, 0.75);
    width: 18%;
    height: 10vh;
    position: absolute;
    left: 0px;
    top: 0px;
}

.Preise_anzeigen {
    color: rgba(0, 0, 0, 1);
    width: 18%;
    height: 10vh;
    position: absolute;
    left: 1%;
    top: 0px;
    font-family: Inter;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 0;
}

.hidden {
    display: none;
    top: 50vh;
    left: 1%;
}